<a href="https://colab.research.google.com/github/julioclerio/database_modeling_and_normalization/blob/main/1_modelagem_novalizacao_bd_relacionais.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

MODELO LÓGICO E CONCEITUAL


<img src="https://raw.githubusercontent.com/julioclerio/database_modeling_and_normalization/main/logico_model_.png" width="400" alt="Modelo Lógico">

<img src="https://raw.githubusercontent.com/julioclerio/database_modeling_and_normalization/main/conceptual_model.png" width="420" alt="Modelo Lógico">

In [ ]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 1.2 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [ ]:
# IMPORTAÇÃO BIBLIOTECA
import pymysql

In [ ]:
# CRIAR CONEXÃO AO MYSQL - AWS

try:
  conexao = pymysql.connect( user= '',
                             host= '',
                             port= ,
                             password= '',
                             database= '')
except pymysql.Error as e:
  print('Erro ao se conectar: ', e)

In [ ]:
# CRIANDO UM DATABASE PARA SOLUÇÃO DO EXERCICIO
novo_banco = 'avaliacao_part1'

In [ ]:
# CRIAR O CURSOR
cursor = conexao.cursor()

In [ ]:
criar_database = f" CREATE DATABASE {novo_banco}"

try:
    # Executar a consulta SQL para criar o banco de dados
    cursor.execute(criar_database)
    print(f"Banco de dados '{novo_banco}' criado com sucesso.")
except Exception as e:
    print(f"Erro ao criar o banco de dados: {str(e)}")

Erro ao criar o banco de dados: (1044, "Access denied for user 'clerio_fernandes'@'%' to database 'avaliacao_part1'")

In [ ]:
cursor.execute(criar_database)

In [ ]:
selecionado_database = f"USE {novo_banco}"

try:
    cursor.execute(selecionado_database)
    print(f"Banco de dados '{novo_banco}' selecionado com sucesso.")

except Exception as e:
    print(f"Erro ao selecionar o banco de dados: {str(e)}")

In [ ]:
cursor.execute(selecionado_database)

In [ ]:
# COMANDO DDL CLIENTE
ddl_cliente = """CREATE TABLE cliente (
 codigo_cliente INT PRIMARY KEY AUTO_INCREMENT,
 nome_cliente VARCHAR(n) NOT NULL,
 sobrenome_cliente VARCHAR(n) NOT NULL,
 celular INT NOT NULL,
 telefone INT NOT NULL,
 rua VARCHAR(n) NOT NULL,
 municipio_cliente VARCHAR(n) NOT NULL,
 codigo_tipo_cliente INT,
 UNIQUE (nome_cliente,sobrenome_cliente,celular)
)"""

In [ ]:
# EXECUÇÃO DE COMANDO SQL
cursor.execute(ddl_cliente)

0

In [ ]:
# COMANDO DDL PRODUTO
ddl_produto = """CREATE TABLE produto (
 nome_produto VARCHAR(n) NOT NULL,
 descricao_produto VARCHAR(n) NOT NULL,
 codigo_produto INT PRIMARY KEY AUTO_INCREMENT,
 codigo_tipo_produto INT,
 codigo_diretor_responsavel INT,
 UNIQUE (nome_produto)
)"""

In [ ]:
# EXECUÇÃO DE COMANDO SQL
cursor.execute(ddl_produto)

0

In [ ]:
# COMANDO DDL CLIENTE PRODUTO
ddl_cliente_produto = """CREATE TABLE compra
(
 codigo_cliente:  FK INT PRIMARY KEY,
 codigo_produto INT PRIMARY KEY,
)"""

In [ ]:
# EXECUÇÃO DE COMANDO SQL
cursor.execute(ddl_cliente_produto)

0

In [ ]:
# EXECUÇÃO DE COMANDO SQL
ddl_tipo_cliente = """CREATE TABLE tipo_cliente (
 codigo_tipo_cliente INT PRIMARY KEY,
 tipo_cliente VARCHAR(n) NOT NULL AUTO_INCREMENT,
)"""

In [ ]:
# EXECUÇÃO DE COMANDO SQL
cursor.execute(ddl_tipo_cliente)

0

In [ ]:
# EXECUÇÃO DE COMANDO SQL
ddl_diretores = """CREATE TABLE diretor_responsavel (
 codigo_diretor_responsavel INT PRIMARY KEY AUTO_INCREMENT,
 nome_diretor_responsavel VARCHAR(n) NOT NULL,
 email_diretor_responsavel VARCHAR(n) NOT NULL,
 UNIQUE (nome_diretor_responsavel,email_diretor_responsavel)
)"""

In [ ]:
# EXECUÇÃO DE COMANDO SQL
cursor.execute(ddl_diretores)

0

In [ ]:
# EXECUÇÃO DE COMANDO SQL
ddl_tipo_produto = """CREATE TABLE tipo_produto
(
 tipo_produto VARCHAR(n) NOT NULL,
 codigo_tipo_produto INT PRIMARY KEY AUTO_INCREMENT,
 UNIQUE (tipo_produto)
)"""

In [ ]:
# EXECUÇÃO DE COMANDO SQL
cursor.execute(ddl_tipo_produto)

0

In [ ]:
# ADICIONANDO CHAVES ESTRANGEIRAS
alter_queries = """
    ALTER TABLE cliente ADD FOREIGN KEY(codigo_tipo_cliente) REFERENCES tipo_cliente (codigo_tipo_cliente);
    ALTER TABLE produto ADD FOREIGN KEY(codigo_tipo_produto) REFERENCES tipo_produto (codigo_tipo_produto);
    ALTER TABLE produto ADD FOREIGN KEY(codigo_diretor_responsavel) REFERENCES diretor_responsavel (codigo_diretor_responsavel);
    ALTER TABLE compra ADD FOREIGN KEY(codigo_cliente:  FK) REFERENCES cliente (codigo_cliente:  FK);
    ALTER TABLE compra ADD FOREIGN KEY(codigo_produto) REFERENCES cliente (codigo_produto)
"""

# Dividindo as consultas SQL e executando uma por uma
try:
    queries = alter_queries.split(';')
    for query in queries:
        if query.strip():  # Ignora consultas em branco
            cursor.execute(query)
    print("Chaves estrangeiras adicionadas com sucesso.")
except Exception as e:
    print(f"Erro ao adicionar chaves estrangeiras: {str(e)}")

Chaves estrangeiras adicionadas com sucesso.

In [ ]:
#COMMIT
conexao.commit()

In [ ]:
conexao.close()